@model object

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
    <div>
        <h1>Hello from Home/Index</h1>
        @await Component.InvokeAsync("Local", "A123")
        @await Component.InvokeAsync("External", "Some Parameter")
    </div>
</body>
</html>